---
- include: compat.yml

- include: include_vars.yml

# Install EPEL
- include: epel.yml
  when: ansible_distribution == 'CentOS'

- include: Debian.yml
  when: ansible_os_family == 'Debian'

- include: RedHat.yml
  when: ansible_os_family == 'RedHat'

# Install Monit
- include: install_package_names.yml

- include: create_user.yml

- name: ssh-keygen
  local_action: >
    command ssh-keygen -t rsa -b 4096
    -N ""
    -C "flink@galaxy.wtanaka.apache-flink"
    -f "{{flink_local_key_pattern}}"
    creates={{flink_local_key_pattern}}

- name: Create .ssh directory
  sudo: True
  file:
    path: /home/{{flink_user}}/.ssh
    state: directory
    owner: "{{flink_user}}"
    mode: 0700

- name: upload private key
  sudo: True
  copy:
    src: "{{flink_local_key_pattern}}"
    dest: /home/{{flink_user}}/.ssh/id_rsa
    owner: "{{flink_user}}"
    mode: 0600
  when: flink_is_master

- name: upload public key
  sudo: True
  copy:
    src: "{{flink_local_key_pattern}}.pub"
    dest: /home/{{flink_user}}/.ssh/id_rsa.pub
    owner: "{{flink_user}}"
    mode: 0644

- name: upload authorized_keys
  sudo: True
  copy:
    src: "{{flink_local_key_pattern}}.pub"
    dest: /home/{{flink_user}}/.ssh/authorized_keys
    owner: "{{flink_user}}"
    mode: 0600

- name: Download flink
  command: wget -O /tmp/{{flink_filename}} {{flink_url}}
  args:
    creates: /tmp/{{flink_filename}}

- name: Check if flink is installed
  stat: path={{flink_install_dir}}
  register: install

- name: Unpack flink
  command: tar xvfoz "/tmp/{{flink_filename}}"
  sudo: True
  when: (install.stat.isdir is not defined or not install.stat.isdir)
  args:
    chdir: "{{flink_install_chdir}}"
    creates: "{{flink_install_dir}}"

- name: Flink yaml config
  sudo: True
  template: >
    src=flink-conf.yaml.j2
    dest={{flink_install_dir}}/conf/flink-conf.yaml

- name: Flink slaves config
  sudo: True
  template: >
    src=slaves.j2
    dest={{flink_install_dir}}/conf/slaves
  when: flink_is_master

- name: Chown to flink
  sudo: True
  file:
    path: "{{flink_install_dir}}"
    owner: "{{flink_user}}"
    recurse: yes
    state: directory

- name: Install monit config for flink
  sudo: True
  template: >
    src=flink.conf.j2
    dest={{flink_monit_conf_dir}}/flink.conf
    owner=root
  notify: restart monit
  when: flink_is_master

- name: Make sure monit is started
  sudo: True
  service: name=monit state=started
  # Does not work in CentOS7 or Fedora in CircleCI
  when: flink_is_master and not (is_integration_test is defined and
        is_integration_test and (ansible_os_family == "RedHat" or
           ansible_distribution == "CentOS"))

#- name: Check service
#  sudo: True
#  command: monit summary flink
#  register: flink_status
#  changed_when: False
#
#- name: Start service
#  sudo: True
#  command: monit start flink
#  when: "'Running' not in flink_status.stdout"
