---
- include: compat.yml

- include: include_vars.yml

# Install EPEL
- include: epel.yml
  when: ansible_distribution == 'CentOS'

- include: Debian.yml
  when: ansible_os_family == 'Debian'

- include: RedHat.yml
  when: ansible_os_family == 'RedHat'

# Install Monit
- include: install_package_names.yml

- include: create_user.yml

- name: Download flink
  command: wget -O /tmp/{{flink_filename}} {{flink_url}}
  args:
    creates: /tmp/{{flink_filename}}

- name: Check if flink is installed
  stat: path={{flink_install_dir}}
  register: install

- name: Unpack flink
  command: tar xvfoz "/tmp/{{flink_filename}}"
  sudo: True
  when: (install.stat.isdir is not defined or not install.stat.isdir)
  args:
    chdir: "{{flink_install_chdir}}"
    creates: "{{flink_install_dir}}"

- name: Flink yaml config
  sudo: True
  template: >
    src=flink-conf.yaml.j2
    dest={{flink_install_dir}}/conf/flink-conf.yaml

- name: Flink slaves config
  sudo: True
  template: >
    src=slaves.j2
    dest={{flink_install_dir}}/conf/slaves
  when: flink_is_master

- name: Chown to flink
  sudo: True
  file:
    path: "{{flink_install_dir}}"
    owner: "{{flink_user}}"
    recurse: yes
    state: directory

- name: Create tmp, log and pid directory
  sudo: True
  file:
    path: "{{item}}"
    owner: "{{flink_user}}"
    state: directory
  with_items:
    - /tmp/flink
    - "{{flink_env_log_dir}}"
    - "{{flink_env_pid_dir}}"

- name: Install flink init wrapper
  sudo: True
  template: >
    src=flink-init.sh.j2
    dest=/etc/init.d/flink-init.sh
    owner=root
    mode=0755

- name: Install monit config for flink
  sudo: True
  template: >
    src=flink.conf.j2
    dest={{flink_monit_conf_dir}}/flink.conf
    owner=root
  notify: restart monit

- name: Make sure monit is started
  sudo: True
  service: name=monit state=started
  # Does not work in CentOS7 or Fedora in CircleCI
  when: not (is_integration_test is defined and
        is_integration_test and (ansible_os_family == "RedHat" or
           ansible_distribution == "CentOS"))

#- name: Check service
#  sudo: True
#  command: monit summary flink
#  register: flink_status
#  changed_when: False
#
#- name: Start service
#  sudo: True
#  command: monit start flink
#  when: "'Running' not in flink_status.stdout"
