#!/bin/sh
# Copyright (C) 2016 Wesley Tanaka

case $1 in
   start)
      kill `cat "{{flink_env_pid_dir}}/flink-{{flink_user}}-{{flink_start_stop_script}}.pid"`
      : > "{{flink_env_pid_dir}}/flink-{{flink_user}}-{{flink_start_stop_script}}.pid"
      env USER={{flink_user}} {{flink_install_dir}}/bin/{{flink_start_stop_script}}.sh {{flink_start_args}}
      ;;
    stop)  
      env USER={{flink_user}} {{flink_install_dir}}/bin/{{flink_start_stop_script}}.sh {{flink_stop_args}}
      ;;
    *)  
      echo "usage: flink-init.sh {start|stop}" ;;
esac
exit 0
