check process flink with pidfile /tmp/flink-{{flink_user}}-jobmanager.pid
  start program = "/etc/init.d/flink-init.sh start"
    as uid {{flink_user}}
  stop program = "/etc/init.d/flink-init.sh stop"
    as uid {{flink_user}}
