#!/bin/sh
# Copyright (C) 2016 Wesley Tanaka

case $1 in
   start)
      /usr/bin/env FLINK_SSH_OPTS="-o StrictHostKeyChecking=no" \
         /opt/flink-1.1.3/bin/{{flink_start_script}} &
      ;;
    stop)  
      /usr/bin/env FLINK_SSH_OPTS="-o StrictHostKeyChecking=no" \
         /opt/flink-1.1.3/bin/{{flink_stop_script}} &
      ;;
    *)  
      echo "usage: flink-init.sh {start|stop}" ;;
esac
exit 0
