check process flink with pidfile /tmp/flink--jobmanager.pid
  start program = "/opt/flink-1.1.3/bin/{{flink_start_script}}"
    as uid flink
  stop program = "/opt/flink-1.1.3/bin/{{flink_stop_script}}"
    as uid flink
